In [19]:
from splinter import Browser
from bs4 import BeautifulSoup as bs
import time
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd

In [13]:
url = "https://mars.nasa.gov/news/"

In [14]:
# def init_browser():
# @NOTE: Replace the path with your actual path to the chromedriver
executable_path = {"executable_path": ChromeDriverManager().install()}
browser = Browser("chrome", **executable_path, headless=False)

[WDM] - ====== WebDriver manager ======
[WDM] - Current google-chrome version is 89.0.4389
[WDM] - Get LATEST driver version for 89.0.4389
[WDM] - Driver [/Users/d_knowles/.wdm/drivers/chromedriver/mac64/89.0.4389.23/chromedriver] found in cache

In [4]:
# def scrape_info(url_input):
browser.visit(url)
time.sleep(1)
# Scrape page into Soup
html = browser.html
soup = bs(html, "html.parser")

In [5]:
# print(soup.prettify())

In [6]:
# Get the latest news
result = soup.find("div", class_='list_text')
result

<div class="list_text"><div class="list_date">March 23, 2021</div><div class="content_title"><a href="/news/8896/nasa-ingenuity-mars-helicopter-prepares-for-first-flight/" target="_self">NASA Ingenuity Mars Helicopter Prepares for First Flight</a></div><div class="article_teaser_body">Now uncocooned from its protective carbon-fiber shield, the helicopter is being readied for its next steps.  </div></div>

In [7]:
# Extract latest News Title and Paragraph text
news_title = result.find('a').text
news_p = result.find('div', class_='article_teaser_body').text
print(news_title)
print(news_p)

NASA Ingenuity Mars Helicopter Prepares for First Flight
Now uncocooned from its protective carbon-fiber shield, the helicopter is being readied for its next steps.

In [38]:
# Visit the url for JPL Featured Space Image
image_url = "https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/index.html"
browser.visit(image_url)

# parse html with bs
html = browser.html
img_soup = bs(html, "html.parser")

# find the image url to the full size .jpg image
results = img_soup.find("div", class_='header')
full_img = results.find('div', class_='floating_text_area').a['href']

# save a complete url string for this image
featured_image_url = f'https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/{full_img}'
print(featured_image_url)

https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/image/featured/mars3.jpg

In [16]:
# Mars Facts: scrape the table containing facts about the planet including Diameter, Mass, etc.
facts_url = "https://space-facts.com/mars/"
browser.visit(facts_url)
html = browser.html

In [22]:
# Use Pandas to convert the data to a HTML table string
table = pd.read_html(facts_url)
mars_facts = table[1]
mars_facts

  Mars - Earth Comparison             Mars            Earth
0               Diameter:         6,779 km        12,742 km
1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
2                  Moons:                2                1
3      Distance from Sun:   227,943,824 km   149,598,262 km
4         Length of Year:   687 Earth days      365.24 days
5            Temperature:     -87 to -5 °C      -88 to 58°C

In [23]:
# convert table to html
html = mars_facts.to_html() 
print(html)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Mars - Earth Comparison</th>
      <th>Mars</th>
      <th>Earth</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Diameter:</td>
      <td>6,779 km</td>
      <td>12,742 km</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Mass:</td>
      <td>6.39 × 10^23 kg</td>
      <td>5.97 × 10^24 kg</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Moons:</td>
      <td>2</td>
      <td>1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Distance from Sun:</td>
      <td>227,943,824 km</td>
      <td>149,598,262 km</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Length of Year:</td>
      <td>687 Earth days</td>
      <td>365.24 days</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Temperature:</td>
      <td>-87 to -5 °C</td>
      <td>-88 to 58°C</td>
    </tr>
  </tbody>
</table>

In [24]:
# Mars Hemispheres
hem_url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(hem_url)
html = browser.html